.k{
    display:flex;
    height: 100vh;
}
.k-content{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.k-wrapper{
    padding:50px;
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
}

.k-edu-title{
    font-size:50px;
    text-align: center;
}

.k-title-item{
    align-items: center;
}

.k-edu-inline{
    align-items: center;
    justify-content: center;
}
.k-edu-item{
    padding:150px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.k-logo-item{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.k-edu-skill{
    margin: 10%;
    text-align: center;

}
.k-skill-logo{
    margin: 25%;
}
.k-edu-img{
    width: 80px;
    height: 80px;
    position: relative;
}