.k{
    display: flex;
    height: 100vh;
    z-index:1;
    position: relative;
}

.k-wrapper{
    margin-top: 100px;
}
.k-edu-title{
    font-size: 50px;
    text-align: center;
}

.k-title-item{
    align-items: center;
}

.k-edu-inline{
    align-items: center;
    justify-content: center;
}
.k-edu-item{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.k-logo-item{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
}

.k-edu-skill{
    /* margin: 10%; */
    text-align: center;

}
.k-skill-logo{
    padding-top: 50px;
    padding-bottom: 100px;
}
.k-edu-img{
    width: 84px;
    height: 84px;
    position: relative;
}