.p{
    height: 110vh;
}
.p-title{
    font-size:50px;
    text-align: center;
    padding-bottom: 45px;
}

.p-container{
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.Button1{
    margin-left: 10px;
    margin-right: 10px;
}

.cardbody{
    color: #f1f1ef;
}