.Link{
    color: #f1f1ef;
    padding: 5px;
    text-decoration: none;
}

.Link:hover{
    color: #fa255e;
}

.Brand{
    color: #f1f1ef;

}

.Bar{
    text-decoration: none;
    justify-content: end;
}