.Link{
    color: #f1f1ef;
    padding: 5px;
    text-decoration: none;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #151516;
}

.Link:hover{
    color: #e94560;
}

@media screen and (max-width: 500px) {
    .Link { background-color: #151516; }
}
